<table>
  <thead>
    <tr>
      <th *ngFor="let col of heroKeys">{{ col }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes">
      <td *ngFor="let col of heroKeys">{{ hero[col] }}</td>
    </tr>
  </tbody>
</table>

<table>
  <tbody>
    <tr *ngFor="let col of heroKeys; let row_i = index">
      <th>{{ col }}</th>
      <td *ngFor="let hero of heroes; let col_i = index">
        <ng-container *ngIf="col_i !== 3">
          {{ hero[col] }}
        </ng-container>
      </td>
  </tbody>
</table>