<app-nestable [(list)]="list" [options]="options" [template]="itemTemplate">
</app-nestable>
  
<ng-template #itemTemplate let-row>
  <!-- <button mat-icon-button [appNestableDragHandle]="row">
    ○
  </button> -->
  
  <button mat-icon-button
    *ngIf="row.item.children && row.item.children.length; else empty_item"
    [appNestableExpandCollapse]="row">
    +
  </button>
  
  <div>Item: {{row.item.id}}</div>
</ng-template>

<ng-template #empty_item>
  <span style="width: 20px">-</span>
</ng-template>